

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 16px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: rgb(12, 172, 33);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.btn:hover {
    background: #4CAF50;
}

.btn-edit {
    background-color: green;
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}

.btn-edit:hover, .btn-delete:hover {
    color: white;
    opacity: 0.8;
}
